@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

.card {
  width: 65%;
  min-width: 170px;
  height: 60%;
  max-height: 300px;
  padding: auto;
  margin-block: 2rem;
  text-align: center;
  background: #242625;
  border-radius: 10px;
}
.card__container {
  display: grid;
  width: 100%;
  height: 75%;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  color: white;
}
.card__content {
  width: 90%;
  height: 95%;
  background: #191a19;
  margin: 10px auto;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  top: 0;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: 0.3s all ease-in-out;
}
.card__content:hover {
  top: -10px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.card__header {
  text-transform: uppercase;
  font-size: 20px;
  margin: 40px auto;
}
.card__button {
  width: fit-content;
  height: min-content;
  padding: 10px;
  border-radius: 50px;
  background: #1f75c4;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  margin: 0 auto;
  position: absolute;
  left: 50%;
 -webkit-transform: translateX(-50%);
 -moz-transform: translateX(-50%);
 transform: translateX(-50%);
  bottom: -20px;
}

@media only screen and (max-width: 835px) {
  .card__container {
    grid-template-columns: 1fr 1fr;
    height: min-content;
  }

  .card {
    height: fit-content;
  }

}

@media only screen and (max-width: 600px) {
  .card__container {
    grid-template-columns: 1fr;
  }

  .card {
    height: fit-content;
    width: 55%;
    min-width: 13rem;
  }
}