<section id="forms-section">
  <form class="shadow-lg mx-5 mt-2 p-3 mb-5 rounded">
    <div class="form-group py-1">
      <label for="exampleInputEmail1">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter email"
      />
      <small id="emailHelp" class="form-text text-muted"
        >We'll never share your email with anyone else. Because facebook already
        has it.</small
      >
    </div>
    <div class="form-group py-1">
      <label for="exampleInputPassword1">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Password"
      />
    </div>
    <div class="form-check py-1">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary py-1">Submit</button>
  </form>

  <form class="shadow-lg mx-5 mt-2 p-5 mb-5 rounded">
    <div class="form-group py-1">
      <label for="exampleFormControlSelect1" class="mb-1"
        >Dropdown Selection</label
      >
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Click Me</option>
        <option>714 Buena Park, CA</option>
        <option>615 Antioch,TN</option>
        <option>574 Elkhart, IN</option>
        <option>612 Saint Paul, MN</option>
      </select>
    </div>
    <div class="form-group py-3">
      <label for="exampleFormControlSelect2" class="mb-1"
        >Multiple selection</label
      >
      <select multiple class="form-control" id="exampleFormControlSelect2">
        <option>Avengers: Endgame</option>
        <option>Home Team</option>
        <option>Encounter</option>
        <option>Ripper Untold</option>
        <option>Chernobyl: Abyss</option>
        <option>Against the Ice</option>
        <option>Sooryavanshi</option>
        <option>The SpongeBob Movie: Sponge on the Run</option>
      </select>
    </div>
    <div class="form-group py-1">
      <label for="exampleFormControlTextarea1" class="mb-1"
        >Textarea Input</label
      >
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
        placeholder="Enter some text here"
      ></textarea>
    </div>
    <div class="form-group py-3">
      <label for="exampleFormControlFile1" class="mb-1">File input</label><br />
      <input
        type="file"
        class="form-control-file"
        id="exampleFormControlFile1"
      />
    </div>
  </form>
</section>
